@import 'tailwindcss';

@theme {
  --color-brand-primary: #6366f1;
  --color-brand-dark: #0f172a;
  --color-brand-surface: #1e293b;
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-800/50 backdrop-blur-md border border-slate-700 shadow-sm rounded-xl;
  }
}
